In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Loading Dataset

In [67]:
stock_exchange_mk = pd.read_csv('data_mse_mse_historic_data_active.csv', sep='\t', parse_dates=['Date'])

In [77]:
df = pd.DataFrame(stock_exchange_mk)
df["stock_id"] = df["stock_id"].astype('category')
df.columns = df.columns.str.lower()

In [79]:
df[df.stock_id == 'ALK']

,date,stock_id,open,high,low,close,volume,adj close,quantity,average,change %,volume total,ratio,ratio 1m,ratio 3m,ratio 6m,ratio 1y,ratio 2y,ratio 3y
0,2020-08-25,ALK,12290.0,12222.0,12200.0,12200.0,3660440,12200.0,300,12201.47,-0.72,3660440,0.878,0.971,0.971,0.937,0.916,0.916,0.916
1,2020-08-24,ALK,12290.0,12290.0,12289.0,12290.0,73738,12290.0,6,12289.67,0.00,73738,0.885,0.978,0.978,0.944,0.922,0.922,0.922
2,2020-08-21,ALK,12223.0,12290.0,12289.0,12290.0,614476,12290.0,50,12289.52,-0.05,614476,0.885,0.978,0.978,0.944,0.922,0.922,0.922
3,2020-08-20,ALK,12300.0,12300.0,12223.0,12223.0,651640,12223.0,53,12295.09,-0.04,651640,0.885,0.979,0.979,0.945,0.923,0.923,0.923
4,2020-08-19,ALK,12300.0,12300.0,12300.0,12300.0,2952000,12300.0,240,12300.00,0.00,2952000,0.885,0.979,0.979,0.945,0.923,0.923,0.923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,1997-01-23,ALK,1010.0,1010.0,1009.0,1010.0,421100,1010.0,417,1009.83,2.00,421100,0.073,0.080,0.080,0.078,0.076,0.076,0.076
4515,1997-01-21,ALK,1030.0,1030.0,1010.0,1010.0,62610,1010.0,61,1026.39,0.00,62610,0.074,0.082,0.082,0.079,0.077,0.077,0.077
4516,1997-01-16,ALK,1050.0,1030.0,1030.0,1030.0,246170,1030.0,239,1030.00,3.00,246170,0.074,0.082,0.082,0.079,0.077,0.077,0.077
4517,1997-01-14,ALK,1070.0,1070.0,1050.0,1050.0,378370,1050.0,357,1059.86,1.00,378370,0.076,0.084,0.084,0.081,0.080,0.080,0.080
4518,1997-01-09,ALK,1070.0,1070.0,1070.0,1070.0,279270,1070.0,261,1070.00,NaN,279270,0.077,0.085,0.085,0.082,0.080,0.080,0.080